# --------------------# 1. Pastas e Arquivos .NET Core / C# (Backend)# --------------------# Pastas de build geradas[Bb]in/[Oo]bj/# Arquivos de usuário do Visual Studio*.user*.suo# Arquivos de banco de dados temporário*.db*.bak# --------------------# 1. Pastas e Arquivos .NET Core / C# (Backend)# --------------------# Pastas de build geradas[Bb]in/[Oo]bj/# Arquivos de usuário do Visual Studio*.user*.suo# Arquivos de banco de dados temporário*.db*.bak# --------------------# 2. Pastas e Arquivos Node.js / SAPUI5 (Frontend)# --------------------# Dependências instaladas (Pasta gigante de módulos)/frontend/node_modules# Pasta de distribuição/build do UI5 /frontend/dist# --------------------# 3. Cache e Configurações de Editor# --------------------.vscode/ .DS_Store npm-debug.log